ul {
  list-style: none;
}

body {
  margin: 0px;
  font-family: 'Roboto';
}

.hero-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1F2937;
  padding: 8px;
  margin: 0px;
}

.hero-top .hero-links {
  display: flex;
  gap: 24px;
  font-size: 18px;
  color: #E5E7EB;
}