ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #E5E7EB;
  border-radius: 8px;
  padding: 4px 16px;
  border: none;
  max-width: 150px;
}

body {
  margin: 0px;
  font-family: 'Roboto';
}

.hero-top,
.hero-main,
.footer-content {
  display: flex;
  background-color: #1F2937;
}

.footer-content {
  justify-content: center;
}

.hero-links a,
.secondary-text,
.footer-content {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-top {
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  margin: 0px;
}

.main-text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
  margin: 0;
}

.hero-main {
  justify-content: space-evenly;
  padding: 60px 32px;
}

.hero-main-left {
  min-width: 400px;
  max-width: 500px;
}

.hero-top .hero-links {
  display: flex;
  gap: 24px;
}

p.secondary-text {
  margin: 0px;
  padding-bottom: 8px;
}

.information-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
}

.information-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  font-weight: 100;
  font-size: 18px;
}

.information-images {
  max-width: 200px;
}

.information-images img {
  border-radius: 10%;
  border-color: #3882F6;
  border-style: solid;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  max-width: 900px;
  padding: 36px
}

.quote {
  font-size: 36px;
  font-weight: 200;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}

.quote-author {
  align-self: flex-end;
  font-weight: bolder;
}


